* {
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui;
}

body {
  background-image: url('images/night.jpg');
  background-size: cover;
}

.weather-display {
  display: inline-flex;
  color: white;
  gap: 1.5rem;
  margin-left: 35%;
  margin-top: 5%;
}

.container {
  display: flex;
}

.temperature {
  font-size: 6rem;
  line-height: 80%;
}

.icon {
  min-width: 5rem;
}

.units {
  margin-top: 0.2rem;
  font-size: 1.2rem;
  white-space: nowrap;
}

.fahrenheit,
.celsius {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: inherit;
}

.extra-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(147, 146, 146);
}

.feels-hum-wind {
  font-size: 0.8rem;
  padding: 5px 0;
}

.city-time-weather {
  align-items: center;
}

.city-name {
  color: white;
  font-size: 1.5rem;
}

.city-input {
  display: flex;
  justify-content: flex-end;
  margin: 50px 150px 0 0;
}

.city-input input {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  color: whitesmoke;
}

.city-input input:focus {
  outline: none;
}
